{% extends "header_footer.html" %}
{% load static %}
{% block content %}



<div class="page-banner-area bg-1">
<div class="container">
<div class="page-banner-content">
<h1>Wish List</h1>
<ul>
<li><a href="index.html">Home</a></li>
<li>Cart</li>
</ul>
</div>
</div>
</div>


<div class="wishlist-area pt-70 pb-45">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-9">
<div class="wishlist-table table table-responsive">
<table class="table">
<thead>
<tr>
<th scope="col">
 <div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck1">
<label class="form-check-label" for="productCheck1">
Product
</label>
</div>
</th>
<th scope="col">Unit Price</th>
<th scope="col">Stock Status</th>
<th scope="col">Action</th>
<th scope="col">Remove</th>
</tr>
</thead>
<tbody>
<tr>
<td class="image-and-content d-flex align-items-center">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck2">
</div>
<div class="products-image">
<a href="product-with-sidebar.html"><img src="{% static 'assets/images/shop/shop-image-71.webp' %}" alt="image"></a>
</div>
<div class="products-content">
<h3><a href="product-with-sidebar.html">Women Combo Sunglass</a></h3>
<div class="rating">
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
</div>
</div>
</td>
<td class="price">$25.00</td>
<td class="stock-status">
In Stock
</td>
<td class="action">
<a href="cart.html" class="default-btn style5">Add To Cart</a>
</td>
<td class="remove">
<a href="#">
<i class="fa-solid fa-trash-can"></i>
</a>
</td>
</tr>
<tr>
<td class="image-and-content d-flex align-items-center">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck3">
</div>
<div class="products-image">
<a href="product-with-sidebar.html"><img src="{% static 'assets/images/shop/shop-image-72.webp' %}" alt="image"></a>
</div>
<div class="products-content">
<h3><a href="product-with-sidebar.html">Women Combo Sunglass</a></h3>
 <div class="rating">
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
</div>
</div>
</td>
<td class="price">$40.00</td>
<td class="stock-status">
In Stock
</td>
<td class="action">
<a href="cart.html" class="default-btn style5">Add To Cart</a>
</td>
<td class="remove">
<a href="#">
<i class="fa-solid fa-trash-can"></i>
</a>
</td>
</tr>
<tr>
<td class="image-and-content d-flex align-items-center">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck3">
</div>
<div class="products-image">
<a href="product-with-sidebar.html"><img src="{% static 'assets/images/shop/shop-image-73.webp' %}" alt="image"></a>
</div>
<div class="products-content">
<h3><a href="product-with-sidebar.html">Pinkol Granite Glass</a></h3>
<div class="rating">
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
</div>
</div>
</td>
<td class="price">$42.00</td>
<td class="stock-status">
In Stock
</td>
<td class="action">
<a href="cart.html" class="default-btn style5">Add To Cart</a>
</td>
<td class="remove">
<a href="#">
<i class="fa-solid fa-trash-can"></i>
</a>
</td>
</tr>
<tr>
<td class="image-and-content d-flex align-items-center">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck3">
</div>
<div class="products-image">
<a href="product-with-sidebar.html"><img src="{% static 'assets/images/shop/shop-image-74.webp' %}" alt="image"></a>
</div>
<div class="products-content">
<h3><a href="product-with-sidebar.html">Embroidared Glasses</a></h3>
<div class="rating">
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
</div>
</div>
</td>
<td class="price">$32.00</td>
<td class="stock-status">
In Stock
</td>
<td class="action">
<a href="cart.html" class="default-btn style5">Add To Cart</a>
</td>
<td class="remove">
<a href="#">
<i class="fa-solid fa-trash-can"></i>
</a>
</td>
</tr>
<tr>
<td class="image-and-content d-flex align-items-center">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="productCheck3">
</div>
<div class="products-image">
<a href="product-with-sidebar.html"><img src="{% static 'assets/images/shop/shop-image-75.webp' %}" alt="image"></a>
</div>
<div class="products-content">
<h3><a href="product-with-sidebar.html">Phenomenal Round Glass</a></h3>
<div class="rating">
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
<i class="flaticon-star-1"></i>
</div>
</div>
</td>
<td class="price">$43.00</td>
<td class="stock-status">
In Stock
</td>
<td class="action">
<a href="cart.html" class="default-btn style5">Add To Cart</a>
</td>
<td class="remove">
<a href="#">
<i class="fa-solid fa-trash-can"></i>
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

